.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: #e8e9eb;
}

.sub-content {
  width: 346px;
  height: 154px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 9px auto;
}

button.accordion {
    background-color: #f7f7f7;
    color: #a0a0a0;
    cursor: pointer;
    padding: 18px;
    width: 346px;
    height: 28px;
    text-align: left;
    border: 2px solid #ebecee;
    border-top: none;
    box-sizing: border-box;
    outline: none;
    transition: 0.4s;
    font: normal small-caps 16px/18px sans-serif;
}

button.accordion:first-child {
  border-top: 2px solid #ebecee;
}

button.accordion.active, button.accordion:hover {
    background-color: #c6e1ec;
}

div.panel {
    padding: 0 18px;
    background-color: #ecf0f3;
    color: #7c7c7e;
    max-height: 0;
    height: 85px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 306px;
    border-left: 2px solid #ebecee;
    border-right: 2px solid #ebecee;
    font-style: italic;
}